@model List<TabloidMVC.Models.Post>

@{
    ViewData["Title"] = "My Posts";
}

<h2>My Posts</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Category</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var post in Model)
        {
            <tr>
                <td>@post.Title</td>
                <td>@post.UserProfile.DisplayName</td>
                <td>@post.Category.Name</td>
<<<<<<< HEAD
                <td>
                    <a asp-action="Edit" asp-route-id="@post.Id" class="btn btn-outline-primary mx-1" title="Edit">
                        <i class="fas fa-pencil-alt"></i>
                    </a>
                    <a asp-action="Delete" asp-route-id="@post.Id" class="btn btn-outline-primary mx-1" title="Delete">
                            <i class="fas fa-trash"></i>
                    </a>
                    @if (post.PublishDateTime == null)
                    {
                        <a class="btn btn-success" asp-controller="Post" asp-action="Publish" asp-route-id="@post.Id">Publish</a>
                    }
                    else
                    {
                        <a class="btn btn-warning" asp-controller="Post" asp-action="Unpublish" asp-route-id="@post.Id">Unpublish</a>
                    }
                </td>
=======
>>>>>>> main
            </tr>
        }
    </tbody>
</table>

